@model car_center_api.Models.Repuesto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Repuesto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodRep" class="control-label"></label>
                <input asp-for="CodRep" class="form-control" />
                <span asp-validation-for="CodRep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodTipo" class="control-label"></label>
                <select asp-for="CodTipo" class ="form-control" asp-items="ViewBag.CodTipo"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodCalRep" class="control-label"></label>
                <select asp-for="CodCalRep" class ="form-control" asp-items="ViewBag.CodCalRep"></select>
            </div>
            <div class="form-group">
                <label asp-for="NomRep" class="control-label"></label>
                <input asp-for="NomRep" class="form-control" />
                <span asp-validation-for="NomRep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VlrRep" class="control-label"></label>
                <input asp-for="VlrRep" class="form-control" />
                <span asp-validation-for="VlrRep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
