@model car_center_api.Models.SolicitudSerRepuesto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>SolicitudSerRepuesto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodSolSerRep" class="control-label"></label>
                <input asp-for="CodSolSerRep" class="form-control" />
                <span asp-validation-for="CodSolSerRep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodSolic" class="control-label"></label>
                <select asp-for="CodSolic" class ="form-control" asp-items="ViewBag.CodSolic"></select>
            </div>
            <div class="form-group">
                <label asp-for="CodRep" class="control-label"></label>
                <select asp-for="CodRep" class ="form-control" asp-items="ViewBag.CodRep"></select>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
