@model car_center_api.Models.DctoFactura

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>DctoFactura</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CodDcto" class="control-label"></label>
                <input asp-for="CodDcto" class="form-control" />
                <span asp-validation-for="CodDcto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VlrMinDcto" class="control-label"></label>
                <input asp-for="VlrMinDcto" class="form-control" />
                <span asp-validation-for="VlrMinDcto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PorcDcto" class="control-label"></label>
                <input asp-for="PorcDcto" class="form-control" />
                <span asp-validation-for="PorcDcto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
